<h1 id="welcome_text">Your assignments:</h1>
<div class="assignment">
  <h4>Donec fermentum molestie venenatis</h4>
  <h5>4/20/1337 <span class="no_completerino">No completerino</span></h5>
  <p>Proin mollis, mauris fermentum posuere varius, lacus sapien vehicula felis, sed facilisis arcu leo quis sem. Mauris aliquam eu felis ac bibendum. In facilisis sapien eget metus dignissim blandit. Phasellus aliquet ipsum sed lectus finibus, sit amet gravida augue scelerisque.</p>
</div>
<div class="assignment">
  <h4>Xacus sapien vehicula felis</h4>
  <h5>6/66/6666 <span class="completerino">Completerino</span></h5>
  <p>Proin mollis, mauris fermentum posuere varius, lacus sapien vehicula felis, sed facilisis arcu leo quis sem. Mauris aliquam eu felis ac bibendum. In facilisis sapien eget metus dignissim blandit. Phasellus aliquet ipsum sed lectus finibus, sit amet gravida augue scelerisque.</p>
</div>