<h1 id="welcome_text">Your homework:</h1>
<div class="assignment">
  <h4>Donec fermentum molestie venenatis</h4>
  <h5>12/52/4183 <span class="no_completerino">No completerino</span></h5>
  <p>Proin mollis, mauris fermentum posuere varius, lacus sapien vehicula felis, sed facilisis arcu leo quis sem. Mauris aliquam eu felis ac bibendum. In facilisis sapien eget metus dignissim blandit. Phasellus aliquet ipsum sed lectus finibus, sit amet gravida augue scelerisque.</p>
</div>
<div class="assignment">
  <h4>Sed facilisis arcu leo quis sem</h4>
  <h5>71/38/1743 <span class="no_completerino">No completerino</span></h5>
  <p>Proin mollis, mauris fermentum posuere varius, lacus sapien vehicula felis, sed facilisis arcu leo quis sem. Mauris aliquam eu felis ac bibendum. In facilisis sapien eget metus dignissim blandit. Phasellus aliquet ipsum sed lectus finibus, sit amet gravida augue scelerisque.</p>
</div>
<div class="assignment">
  <h4>Mauris aliquam eu felis ac bibendum</h4>
  <h5>12/34/5678 <span class="completerino">Completerino</span></h5>
  <p>Proin mollis, mauris fermentum posuere varius, lacus sapien vehicula felis, sed facilisis arcu leo quis sem. Mauris aliquam eu felis ac bibendum. In facilisis sapien eget metus dignissim blandit. Phasellus aliquet ipsum sed lectus finibus, sit amet gravida augue scelerisque.</p>
</div>
<div class="assignment">
  <h4>Donec fermentum molestie venenatis</h4>
  <h5>12/52/4183 <span class="no_completerino">No completerino</span></h5>
  <p>Proin mollis, mauris fermentum posuere varius, lacus sapien vehicula felis, sed facilisis arcu leo quis sem. Mauris aliquam eu felis ac bibendum. In facilisis sapien eget metus dignissim blandit. Phasellus aliquet ipsum sed lectus finibus, sit amet gravida augue scelerisque.</p>
</div>
<div class="assignment">
  <h4>Sed facilisis arcu leo quis sem</h4>
  <h5>71/38/1743 <span class="no_completerino">No completerino</span></h5>
  <p>Proin mollis, mauris fermentum posuere varius, lacus sapien vehicula felis, sed facilisis arcu leo quis sem. Mauris aliquam eu felis ac bibendum. In facilisis sapien eget metus dignissim blandit. Phasellus aliquet ipsum sed lectus finibus, sit amet gravida augue scelerisque.</p>
</div>
<div class="assignment">
  <h4>Mauris aliquam eu felis ac bibendum</h4>
  <h5>12/34/5678 <span class="completerino">Completerino</span></h5>
  <p>Proin mollis, mauris fermentum posuere varius, lacus sapien vehicula felis, sed facilisis arcu leo quis sem. Mauris aliquam eu felis ac bibendum. In facilisis sapien eget metus dignissim blandit. Phasellus aliquet ipsum sed lectus finibus, sit amet gravida augue scelerisque.</p>
</div>
<div class="assignment">
  <h4>Donec fermentum molestie venenatis</h4>
  <h5>12/52/4183 <span class="no_completerino">No completerino</span></h5>
  <p>Proin mollis, mauris fermentum posuere varius, lacus sapien vehicula felis, sed facilisis arcu leo quis sem. Mauris aliquam eu felis ac bibendum. In facilisis sapien eget metus dignissim blandit. Phasellus aliquet ipsum sed lectus finibus, sit amet gravida augue scelerisque.</p>
</div>
<div class="assignment">
  <h4>Sed facilisis arcu leo quis sem</h4>
  <h5>71/38/1743 <span class="no_completerino">No completerino</span></h5>
  <p>Proin mollis, mauris fermentum posuere varius, lacus sapien vehicula felis, sed facilisis arcu leo quis sem. Mauris aliquam eu felis ac bibendum. In facilisis sapien eget metus dignissim blandit. Phasellus aliquet ipsum sed lectus finibus, sit amet gravida augue scelerisque.</p>
</div>
<div class="assignment">
  <h4>Mauris aliquam eu felis ac bibendum</h4>
  <h5>12/34/5678 <span class="completerino">Completerino</span></h5>
  <p>Proin mollis, mauris fermentum posuere varius, lacus sapien vehicula felis, sed facilisis arcu leo quis sem. Mauris aliquam eu felis ac bibendum. In facilisis sapien eget metus dignissim blandit. Phasellus aliquet ipsum sed lectus finibus, sit amet gravida augue scelerisque.</p>
</div>
<div class="assignment">
  <h4>Donec fermentum molestie venenatis</h4>
  <h5>12/52/4183 <span class="no_completerino">No completerino</span></h5>
  <p>Proin mollis, mauris fermentum posuere varius, lacus sapien vehicula felis, sed facilisis arcu leo quis sem. Mauris aliquam eu felis ac bibendum. In facilisis sapien eget metus dignissim blandit. Phasellus aliquet ipsum sed lectus finibus, sit amet gravida augue scelerisque.</p>
</div>
<div class="assignment">
  <h4>Sed facilisis arcu leo quis sem</h4>
  <h5>71/38/1743 <span class="no_completerino">No completerino</span></h5>
  <p>Proin mollis, mauris fermentum posuere varius, lacus sapien vehicula felis, sed facilisis arcu leo quis sem. Mauris aliquam eu felis ac bibendum. In facilisis sapien eget metus dignissim blandit. Phasellus aliquet ipsum sed lectus finibus, sit amet gravida augue scelerisque.</p>
</div>
<div class="assignment">
  <h4>Mauris aliquam eu felis ac bibendum</h4>
  <h5>12/34/5678 <span class="completerino">Completerino</span></h5>
  <p>Proin mollis, mauris fermentum posuere varius, lacus sapien vehicula felis, sed facilisis arcu leo quis sem. Mauris aliquam eu felis ac bibendum. In facilisis sapien eget metus dignissim blandit. Phasellus aliquet ipsum sed lectus finibus, sit amet gravida augue scelerisque.</p>
</div>