
<div id="personal_info_tab">
  <button>Edit</button>
  <img src="img/logo.jpg">
  <div id="info_stuff">
  <h5>Namerino: Swager.Yolonira</h5>
  <h6>Agerino: 666</h6>

    <h6>Liverino: No stalkerino plzerino 123</h6>
    <h6>Blaerino: Esparino Mucachirno</h6>
    <h6>Blaerino: Esparino Mucachirno</h6>
    <h6>Blaerino: Esparino Mucachirno</h6>
    </div>
  </div>
  <div id="status_flow">
    <button id="add_photo"><img src="img/addnew.jpg"></button>
    <img src="img/logo.jpg">
    <img src="img/logo2.jpg">
    <img src="img/logo3.jpg">
    <img src="img/logo.jpg">
    <img src="img/logo2.jpg">
    </div>