body,html {
    padding: 0px;
    margin: 0px;
}


#top_area {
    background-color: deepskyblue;
    width: 100%;
    height: 200px;
}
#logo_area {
     background-color: chartreuse;
    height: 100%;
    width: 200px;
    margin-left: auto;
    margin-right: auto;

}
#bottom_area {
    width: 100%;
    height: 500px;
    background-color: lawngreen;
    min-width: 980px;
}
#menu_area {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 180px;
    height: 500px;
    background-color: lawngreen;


}
#navigation_list {
    margin-left: 20px;
}
#school_work_list {
    margin-left: 40px;
}
#scheme_list {
     margin-left: 40px;
 }
#social_list {
    margin-left: 40px;
}
#login_area {
    width: 100%;
    height: 101px;
    float: inherit;
}
#login {
    background-color: green;
    height: 80%;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 20px;
}
#email {
    position: relative; top: 20%;
    margin-left: 10%;

}
#password {
    margin-left: 10%;
    position: relative; top: 20%;



}

#add_photo {
    width: 200px;
}

#content_area {
    position: absolute;
    top: 200px;
    left: 180px;
    width: 900px;
    min-width: 800px;
    height: 500px;
    background-color: hotpink;
    overflow-y: scroll;
}
#login_button {
    float: left;
    margin-left: 25%;
    margin-top: 12%;
    height: 20px;
    width: 80px;
}
#welcome_text {
    background-color: greenyellow;
    margin-left: 5%;
    border-radius: 10px;
    float: left;
}
#post_1 {
    float: left;
    position: relative; top: 20px;
    background-color: white;
    border-radius: 20px;
    margin-left: 5%;
    width: 600px;
    padding: 10px;
}
#post_1_title {
    margin-left: 34%;
}
#personal_info_tab {
    width: 200px;
    height: 100%;
    background-color: white;
    float: left;
}

.assignment {
    margin-top: 50px;
    border-radius: 20px;
    background-color: white;

    position: relative; top: 20px;
    margin-left: 5%;
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
}

.assignment .no_completerino {
    color: red;

}
.assignment .completerino {
    color: green;
}
.assignment .super_completerino {
    color: cornflowerblue;
}

#info_stuff
{
    margin-left: 10px;
}
#status_flow {
    float: left;
    width: 690px;
    height: 100%;

    margin-left: 10px;
}
